/* CSS class for zoomed area */
.left-pro{/*width:572px; padding:20px 10px;border:1px solid #ccc;text-align:left;float:left*/}
.left-pro .t1{width:75px;float:left}
.left-pro .t2{/*width:352px;text-indent:0;padding-left:10px;*/ border:1px solid #e6e6e6; float:left; margin-left:47px;}
.left-pro .t2 img{text-indent:0;}
#showArea{height:375px;margin:0px;overflow:hidden; }
#showArea img{cursor:pointer;display:block;margin-bottom:5px;width:75px;padding:1px;border:1px solid #e6e6e6;height:75px;float:left}
#showArea img:hover,#showArea .active{ border:1px solid #c8a062; }
#main_img{cursor:pointer;display:block; }
#gotop,#gobottom{display:block; text-align:center;}

.bbb{width:420px; height:420px;}


.MagicZoomBigImageCont{border:1px solid #e6e6e6;overflow:hidden;}
.MagicZoomBigImageCont img{width:800px;height:800px}
.MagicZoomBigImageCont iframe{width:300px;height:300px}
.MagicZoomHeader{font:10px Tahoma, Verdana, Arial, sans-serif;color:#fff;background:#91b817;text-align:center !important}
.MagicZoomPup{/*border:1px solid #aaa;*/background:#efefef;cursor:hand;left:0}
.MagicZoomLoading{text-align:center;background:#fff;color:#444;opacity:0.8;padding:3px 3px 3px 3px !important;display:none}
.MagicZoomLoading img{padding-top:3px !important}
.MagicThumb{cursor:url(cursor/zoomin.cur), crosshair;outline:none}
.MagicThumb-zoomed{cursor:default}
.MagicThumb span{display:none}
.MagicThumb-image{border:1px solid #ccc;outline:none}
.MagicThumb-image-zoomed{cursor:url(cursor/zoomout.cur), pointer}
.MagicThumb-caption{color:#333333;background-color:#F0F0F0;border:1px solid #CCC;border-top:none;font-family:Verdana, Helvetica;font-size:11px;padding:8px 16px}
.MagicThumb-controlbar{display:block;height:18px}
.MagicThumb-controlbar a{display:block;width:180px;height:180px;margin:0px 1px;outline:none;float:left;overflow:hidden}
.MagicThumb-controlbar a span{display:block;width:1000px;height:1000px;background:transparent url(graphics/controlbar.png) no-repeat 0 0;outline:none;position:absolute;left:0px;top:0px}
.MagicThumb-loading{border:1px solid #000;background:#fff url(../img/item/loader.gif) no-repeat 2px 50%;padding:2px 2px 2px 22px;margin:0;text-decoration:none;text-align:left;font-size:8pt;font-family:sans-serif;}